#invite {
		.cancel-award {
			position: absolute;
			left: 50%;
			margin-left: -33upx;
			bottom: 15%;
			font-size: 70upx;
			width: 66upx;
			height: 66upx;

			image {
				width: 100%;
				height: 100%;
			}

		}

		.cancel-btn {
			position: absolute;
			top: 0;
			right: 23rpx;
			font-size: 70rpx;
			width: 40rpx;
			height: 40rpx;
			z-index: 999;

			image {
				width: 100%;
				height: 100%;
			}

		}

		.background {
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			background-size: 100% 100%;
			z-index: -2;
		}

		.small-background {
			width: 100%;
			position: fixed;
			left: 50%;
			transform: translate(-50%);
			z-index: -1;
		}

		header {
			position: fixed;
			top: 30rpx;
			right: 0;

			.rule {
				display: flex;
				justify-content: flex-end;

				.bg-blue {
					background-color: transparent;
					border: 1px solid #FFFFFF;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					text-indent: 0;
				}
			}
		}

		main {
			position: fixed;
			-webkit-transform: translateZ(0);
			overflow: hidden;
			top: 40%;
			// border: 1px solid black;
			width: 100%;
			height: 15%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;

			.cu-btn {
				padding: 0 50rpx;
				height: 50rpx;
				color: #EE194C;
			}
		}

		footer {
			position: fixed;
			bottom: 8%;
			width: 100%;
			height: 35%;
			// border: 1px solid black;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			.top {
				display: flex;
				flex-direction: column;
				align-items: center;
				font-size: Microsoft YaHei;
				font-weight: bold;
				

				.header {
					font-size: 40rpx;
					color: #ffffff;
					// font-weight: Regular;
					// width: 155px;
					// height: 39px;
					// font-family: FZLanTingHeiS-DB1-GBK;
					line-height: 95rpx;
				}

				.title {
					display: flex;
					align-items: baseline;
					// margin-top: 6rpx;
					// width: 426px;
					// height: 22px;
					font-size: 22rpx;
					// font-family: FZLanTingHei-R-GBK;
					// font-weight: 400;
					color: #010101;
					// line-height: 95rpx;
					letter-spacing: 2rpx;
				}
			}

			.footer {
				// position: absolute;
				width: 90%;
				height: 66%;
				// border: 1px solid black;
				border-radius: 30rpx;
				background: #ffffff;
			}
		}

		.background-img {
			position: fixed;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, .7);
			z-index: 99;

			.background-award {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 100;
				width: 550rpx;
				height: 300rpx;
				border-radius: 20rpx;
				overflow: hidden;

				.background-text {
					position: absolute;
					top: 60rpx;
					width: 100%;
					height: 12%;
					z-index: 100;
					color: #ffffff;
					font-weight: bold;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;

					.top-text {
						font-size: 36rpx;
						font-family: FZLanTingHeiS-B-GB;
						font-weight: 400;
						color: #FFFFFF;
						line-height: 48rpx;
					}
				}

				ul {
					position: absolute;
					bottom: 20rpx;
					width: 100%;
					height: 60%;
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					align-items: center;

					li {
						width: fit-content;
						height: fit-content;
						position: relative;

						.award-left {
							width: 32%;
							height: 100%;
							// background: rgba(0,0,0,.6);
							position: absolute;
							top: 0;
							left: 0;
							display: flex;
							justify-content: space-evenly;
							padding: 0 10rpx;
							align-items: center;

							.left-style {
								display: flex;
								flex-direction: column;
								justify-content: flex-end;
								font-size: 20rpx;
								color: #ffffff;
								font-weight: bolder;
								margin-top: 10rpx;
							}
						}

						.award-right {
							width: 62%;
							height: 100%;
							// background: rgba(0,0,0,.6);
							position: absolute;
							top: 0;
							right: 0;

							.right-10 {
								font-size: 28rpx;
								height: fit-content;
								width: 280rpx;
								font-weight: 400;
								color: #F52F48;
								margin-top: 20rpx;
								text-overflow: ellipsis;
								overflow: hidden;
								white-space: nowrap;
							}

							.award-right-top {
								font-family: FZLanTingHeiS-B-GB;
								width: 100%;
								height: 60%;
								// background: rgba(0,0,0,.6);
								color: #F52F48;
								font-size: 40rpx;
								font-weight: 400;
								display: flex;
								align-items: flex-end;
								padding-left: 20rpx;
							}

							.award-right-bottom {
								font-size: 14rpx;
								font-family: FZLanTingHei-R-GBK;
								font-weight: 400;
								color: #707070;
								line-height: 48rpx;
								width: 100%;
								height: 14rpx;
								position: absolute;
								bottom: 15rpx;
								display: flex;
								justify-content: center;
								align-items: center;
							}
						}
					}
				}

				.old-footer-button {
					position: absolute;
					bottom: 0;
					height: 120rpx;
					width: 100%;
					padding-left: 20rpx;
					padding-right: 20rpx;
					// background: rgba(0,0,0,.7);
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
			}
		}
	}